# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
file = pd.read_csv("Output/CityWeatherData.csv")
data_map = pd.DataFrame(file)
data_map.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Verkhnevilyuysk,97,RU,1584243389,90,63.45,120.32,18.82,3.40
1,Kavieng,99,PG,1584243389,64,-2.57,150.80,85.37,5.23
2,Kamen'-na-Obi,100,RU,1584243390,95,53.79,81.34,34.34,10.45
3,Ushuaia,40,AR,1584243390,58,-54.80,-68.30,53.60,6.93
4,Avarua,8,CK,1584243390,74,-21.21,-159.78,84.20,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [20]:
# Generate map
fig1 = gmaps.figure(map_type="HYBRID")

# Add locations and weights
locations = data_map[["Lat", "Lng"]]
weights = data_map["Humidity"]

# Create heatmap layer
heatmap_layer = gmaps.heatmap_layer(
    locations=locations, weights=weights,
    max_intensity=max(data_map["Humidity"]), point_radius=5.0
)

# Add locations and weights to map
fig1.add_layer(heatmap_layer)
fig1

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
# Create dataframe to hold only locations with ideal weather conditions

# Filter out temps only between 70-80 degrees F (not inclusive)
ideal_weather_cities = data_map.loc[(data_map["Max Temp"] < 80) & (data_map["Max Temp"] > 70)]

# Remove cities with wind speed 10 mph or greater
ideal_weather_cities = ideal_weather_cities.loc[(ideal_weather_cities["Wind Speed"] < 10)]

# Remove cities with any cloudiness
ideal_weather_cities = ideal_weather_cities.loc[(ideal_weather_cities["Cloudiness"] == 0)]


ideal_weather_cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
86,Barra de Tecoanapa,0,MX,1584243417,78,16.52,-98.75,75.36,1.21
125,Chunhuhub,0,MX,1584243438,87,19.55,-88.68,71.65,3.47
138,Chisec,0,GT,1584243455,73,15.82,-90.28,74.35,6.33
232,Nuwara Eliya,0,LK,1584243500,67,6.97,80.78,71.35,3.53
263,Kontagora,0,NG,1584243505,15,10.40,5.47,72.79,7.74
425,Bétérou,0,BJ,1584243589,66,9.20,2.26,79.18,2.44
459,Ngunguru,0,NZ,1584243610,70,-35.62,174.50,72.00,8.01
495,Mamaku,0,NZ,1584243631,55,-38.10,176.08,75.00,4.79
501,Danshui,0,CN,1584243631,43,22.80,114.47,75.99,4.47
504,Sawākin,0,SD,1584243632,59,19.11,37.33,72.64,9.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [46]:
hotel_df = ideal_weather_cities

hotel_df["Hotel Name"] = ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
86,Barra de Tecoanapa,0,MX,1584243417,78,16.52,-98.75,75.36,1.21,
125,Chunhuhub,0,MX,1584243438,87,19.55,-88.68,71.65,3.47,
138,Chisec,0,GT,1584243455,73,15.82,-90.28,74.35,6.33,
232,Nuwara Eliya,0,LK,1584243500,67,6.97,80.78,71.35,3.53,
263,Kontagora,0,NG,1584243505,15,10.40,5.47,72.79,7.74,
425,Bétérou,0,BJ,1584243589,66,9.20,2.26,79.18,2.44,
459,Ngunguru,0,NZ,1584243610,70,-35.62,174.50,72.00,8.01,
495,Mamaku,0,NZ,1584243631,55,-38.10,176.08,75.00,4.79,
501,Danshui,0,CN,1584243631,43,22.80,114.47,75.99,4.47,
504,Sawākin,0,SD,1584243632,59,19.11,37.33,72.64,9.44,

In [59]:
# Convert lat and lng columns to string
hotel_df["Lat"] = hotel_df["Lat"].astype(str)
hotel_df["Lng"] = hotel_df["Lng"].astype(str)

In [60]:
# Define parameters to search for hotel
target_search = "hotel"
radius = 5000

# Convert parameters to dictionary

params = {
    "keyword": target_search,
    "radius": radius,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [78]:
# Create list to hold markers
markers = []

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    # Get coordinates from city's data
    city_lat = row["Lat"]
    city_lng = row["Lng"]
    
    coordinates = f"{city_lat}, {city_lng}"
    
    # Add city lat and lng to parameters
    params["location"] = coordinates
    
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    # Set a variable to hold JSON results of API call
    hotel_data = response.json()
    
# Set variables to hold info on Hotel's Name, Lat, and Long
hotel_name = hotel_data["results"][0]["name"]
hotel_lat = hotel_data["results"][0]["geometry"]["location"]["lat"]
hotel_lng = hotel_data["results"][0]["geometry"]["location"]["lng"]

#     # Create dictionary to hold hotel data
#     single_hotel_data = {
#         "hotel name": hotel_name,
#         "hotel lat": hotel_lat,
#         "hotel lng": hotel_lng
#     }
    
#     # Append dictionary to list of markers
#     markers.append(single_hotel_data)
hotel_data

{'html_attributions': [],
 'results': [{'geometry': {'location': {'lat': 19.111225, 'lng': 37.309389},
    'viewport': {'northeast': {'lat': 19.11264412989272,
      'lng': 37.31078302989272},
     'southwest': {'lat': 19.10994447010728, 'lng': 37.30808337010727}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'a6fb1602230d256a52b795e6a0d517338292f85e',
   'name': 'اولاد خضر',
   'photos': [{'height': 3648,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111168473181435420191">A Google User</a>'],
     'photo_reference': 'CmRaAAAAivYt1z8GvU0PUQ3DB0FwtmC1pUialFrY5iANQH_AtpaXfmh8m5wq1mfxAiBKxfOSHYzAJPmP39uka7-pqQEapL2fc0RwMau2zhsdRvty4_YkMz_UzShLODTgrObfyzGEEhDjoKuAilHGTAx9vIYipgiDGhRYY5DlDcGkzjS1cXoRGo7HUZL-uA',
     'width': 2736}],
   'place_id': 'ChIJRz0voaPX2RURUgYSm4LmHLY',
   'plus_code': {'compound_code': '4865+FQ Suakin, Sudan',
    'global_code': '7GFV4865+FQ'},
   'rating': 3.7,
   'reference': 'ChIJRz0voaPX2RURUgYSm4LmHLY',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 3,
   'vicinity': 'سواكن،'},
  {'geometry': {'location': {'lat': 19.1095351, 'lng': 37.3127082},
    'viewport': {'northeast': {'lat': 19.11091852989272,
      'lng': 37.31407357989272},
     'southwest': {'lat': 19.10821887010728, 'lng': 37.31137392010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'a0f92bd9123123985f6ae23c1ef028629fdb30b5',
   'name': 'فندق الدهيني',
   'photos': [{'height': 3264,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101530183054607964110">A Google User</a>'],
     'photo_reference': 'CmRaAAAASZtVwCCOtZGRvh0IWaDe5mFCxiJ57p16ykNeoNA6AaNpIlpaWPfRLjk_rrHG1nLva7YCvFBZTJvDTW0Pemgp161UPJxycZ4E7rqalxQnX8u5NfOVIDFd0icIrVigzXXpEhAyD87qT-yG5SpKOcN6Uy7fGhROWnV7iVpRVRYQ5tz3TGyHi3HCuQ',
     'width': 2448}],
   'place_id': 'ChIJu75828XX2RURodeDl6PPiRg',
   'plus_code': {'compound_code': '4857+R3 Suakin, Sudan',
    'global_code': '7GFV4857+R3'},
   'rating': 4,
   'reference': 'ChIJu75828XX2RURodeDl6PPiRg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 11,
   'vicinity': 'شارع الصينية'},
  {'geometry': {'location': {'lat': 19.1040389, 'lng': 37.3292861},
    'viewport': {'northeast': {'lat': 19.10547042989272,
      'lng': 37.33058677989272},
     'southwest': {'lat': 19.10277077010728, 'lng': 37.32788712010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '7243a4b006fda40e76fab87bbf53100ba3af7c7d',
   'name': 'Afra Hotel (Alascalh)',
   'place_id': 'ChIJVVVVVaXX2RURkcGc4AkZY5E',
   'plus_code': {'compound_code': '483H+JP Suakin, Sudan',
    'global_code': '7GFV483H+JP'},
   'rating': 3.8,
   'reference': 'ChIJVVVVVaXX2RURkcGc4AkZY5E',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 4,
   'vicinity': 'Suakin'},
  {'geometry': {'location': {'lat': 19.0989824, 'lng': 37.333168},
    'viewport': {'northeast': {'lat': 19.10015867989272,
      'lng': 37.33456162989272},
     'southwest': {'lat': 19.09745902010728, 'lng': 37.33186197010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '417b288df841d5e54fbce59f21dc3a865725c197',
   'name': 'فندق عرب بلازا',
   'place_id': 'ChIJVfBllq7X2RURel6yfnZTBNM',
   'plus_code': {'compound_code': '38XM+H7 Suakin, Sudan',
    'global_code': '7GFV38XM+H7'},
   'rating': 0,
   'reference': 'ChIJVfBllq7X2RURel6yfnZTBNM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 0,
   'vicinity': 'سواكن'},
  {'geometry': {'location': {'lat': 19.0990772, 'lng': 37.3331595},
    'viewport': {'northeast': {'lat': 19.10045862989272,
      'lng': 37.33432852989272},
     'southwest': {'lat': 19.09775897010728, 'lng': 37.33162887010727}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': '1e4a441995f4570a734d59eb63db10cfd2c2cc06',
   'name': 'Arab Plaza Hotel عرب بلازا هوتيل',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 774,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/118095955504845845290">Mohamed Abuhamed</a>'],
     'photo_reference': 'CmRaAAAAE5hWqdLGSrHbdOWmB3xHY0oaGYsXKI_uLEdnkBNO027PGLNM_rT3p9B8PUG70SmswenIy7kQzcZXj5n8mrlZpeZazDXdG51TRUGHmG3oUFoOcVrBFIj7Xotil3PZsv7PEhAWuOIJHXtIDZAdR8ryGu9CGhQS7bsw1fu_nZFcxVNrdM1w_yXwjA',
     'width': 1032}],
   'place_id': 'ChIJ3azRla7X2RURxg_kpVcUAQk',
   'plus_code': {'compound_code': '38XM+J7 Suakin, Sudan',
    'global_code': '7GFV38XM+J7'},
   'rating': 5,
   'reference': 'ChIJ3azRla7X2RURxg_kpVcUAQk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 3,
   'vicinity': 'Suakin'},
  {'geometry': {'location': {'lat': 19.1092728, 'lng': 37.31575309999999},
    'viewport': {'northeast': {'lat': 19.11083292989272,
      'lng': 37.31704837989272},
     'southwest': {'lat': 19.10813327010728, 'lng': 37.31434872010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'id': 'c1196d82fd516efa6cdb20444dfb670340f45e11',
   'name': 'Abha hotel',
   'opening_hours': {'open_now': True},
   'place_id': 'ChIJSVVVUsbX2RURMygyaWZ8fUY',
   'plus_code': {'compound_code': '4858+P8 Suakin, Sudan',
    'global_code': '7GFV4858+P8'},
   'rating': 5,
   'reference': 'ChIJSVVVUsbX2RURMygyaWZ8fUY',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 3,
   'vicinity': 'سواكن،'}],
 'status': 'OK'}

In [80]:
hotel_name = hotel_data["results"][0]["name"]
hotel_lat = hotel_data["results"][0]["geometry"]["location"]["lat"]
hotel_lng = hotel_data["results"][0]["geometry"]["location"]["lng"]

print(hotel_name, hotel_lat, hotel_lng)

اولاد خضر 19.111225 37.309389

In [21]:
# Generate map
fig2 = gmaps.figure(map_type="HYBRID")

# Add locations and weights
locations = hotel_df[["Lat", "Lng"]]
weights = hotel_df["Humidity"]

# Create heatmap layer
heatmap_layer = gmaps.heatmap_layer(
    locations=locations, weights=weights,
    max_intensity=max(hotel_df["Humidity"]), point_radius=5.0
)

# Add locations and weights to map
fig2.add_layer(heatmap_layer)
fig2

Figure(layout=FigureLayout(height='420px'))

In [45]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in ideal_weather_cities.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map