# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
file = pd.read_csv("Output/CityWeatherData.csv")
data_map = pd.DataFrame(file)
data_map.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Verkhnevilyuysk,97,RU,1584243389,90,63.45,120.32,18.82,3.40
1,Kavieng,99,PG,1584243389,64,-2.57,150.80,85.37,5.23
2,Kamen'-na-Obi,100,RU,1584243390,95,53.79,81.34,34.34,10.45
3,Ushuaia,40,AR,1584243390,58,-54.80,-68.30,53.60,6.93
4,Avarua,8,CK,1584243390,74,-21.21,-159.78,84.20,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [9]:
# Generate map
fig1 = gmaps.figure(map_type="SATELLITE")

# Add locations and weights
locations = data_map[["Lat", "Lng"]]
weights = data_map["Humidity"]

# Create heatmap layer
heatmap_layer = gmaps.heatmap_layer(
    locations=locations, weights=weights,
    max_intensity=max(data_map["Humidity"]), point_radius=5.0
)

# Add locations and weights to map
fig1.add_layer(heatmap_layer)
fig1

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
# Create dataframe to hold only locations with ideal weather conditions

# Filter out temps only between 70-80 degrees F (not inclusive)
ideal_weather_map = data_map.loc[(data_map["Max Temp"] < 80) & (data_map["Max Temp"] > 70)]

# Remove cities with wind speed 10 mph or greater
ideal_weather_map = ideal_weather_map.loc[(ideal_weather_map["Wind Speed"] < 10)]

# Remove cities with any cloudiness
ideal_weather_map = ideal_weather_map.loc[(ideal_weather_map["Cloudiness"] == 0)]


ideal_weather_map

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
86,Barra de Tecoanapa,0,MX,1584243417,78,16.52,-98.75,75.36,1.21
125,Chunhuhub,0,MX,1584243438,87,19.55,-88.68,71.65,3.47
138,Chisec,0,GT,1584243455,73,15.82,-90.28,74.35,6.33
232,Nuwara Eliya,0,LK,1584243500,67,6.97,80.78,71.35,3.53
263,Kontagora,0,NG,1584243505,15,10.40,5.47,72.79,7.74
425,Bétérou,0,BJ,1584243589,66,9.20,2.26,79.18,2.44
459,Ngunguru,0,NZ,1584243610,70,-35.62,174.50,72.00,8.01
495,Mamaku,0,NZ,1584243631,55,-38.10,176.08,75.00,4.79
501,Danshui,0,CN,1584243631,43,22.80,114.47,75.99,4.47
504,Sawākin,0,SD,1584243632,59,19.11,37.33,72.64,9.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
hotel_df = ideal_weather_map

hotel_df["Hotel Name"] = ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
86,Barra de Tecoanapa,0,MX,1584243417,78,16.52,-98.75,75.36,1.21,
125,Chunhuhub,0,MX,1584243438,87,19.55,-88.68,71.65,3.47,
138,Chisec,0,GT,1584243455,73,15.82,-90.28,74.35,6.33,
232,Nuwara Eliya,0,LK,1584243500,67,6.97,80.78,71.35,3.53,
263,Kontagora,0,NG,1584243505,15,10.40,5.47,72.79,7.74,
425,Bétérou,0,BJ,1584243589,66,9.20,2.26,79.18,2.44,
459,Ngunguru,0,NZ,1584243610,70,-35.62,174.50,72.00,8.01,
495,Mamaku,0,NZ,1584243631,55,-38.10,176.08,75.00,4.79,
501,Danshui,0,CN,1584243631,43,22.80,114.47,75.99,4.47,
504,Sawākin,0,SD,1584243632,59,19.11,37.33,72.64,9.44,

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map